{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title">
      <span style="color: Dodgerblue;">ourHospital</span> : Departments and their key staff 
    </p>
    <p class="box">
      <i class="fas fa-stethoscope fa-3x" style="color: darkorange;"></i>
      <i class="fas fa-syringe fa-3x" style="color: deepskyblue;"></i>
      <i class="fas fa-pills fa-4x" style="color: gold;"></i>
    </p>
  </div>
</section>

