{{> menu}}

<section class="section">
  <div class="subtitle">
    <strong>Hospital:</strong> {{hospital.name}}
  </div>
  <div class="title">
    {{department.title}}
  </div>
  {{> list-staffs}}
  {{> add-staff}}
</section>

