<form action="/hospital/{{hospital_id}}/department/add" method="POST">
  <!-- Department -->
  <div class="field">
    <label class="label">Department Title</label>
    <input class="input" type="text" placeholder="Enter department title" name="title" required>
  </div>

  <!-- deptLocation -->
  <div class="field">
    <label class="label">Department Location</label>
    <input class="input" type="text" placeholder="Enter department location" name="deptLocation" required>
  </div>

  <!-- Submit Button -->
  <button class="button is-link">Add Department</button>
</form>
