<div class="title p-3 is-flex" style="color: Dodgerblue; font-size: 48px;">
  <img src="/images/logo.jpg" alt="ourHospital logo" style="height: 64px; width: auto;">
  <div class="ml-4">ourHospital</div>
</div>

